<div class="bigLeft">
    <p class="input-field">
        <input tabindex="-1" type="text" ng-model="generator.CURRENT_TAG" ng-change="generator.saveTag()"/>
        <label>Current tag</label>
    </p>
</div>


<form>
    <input tabindex="1" type="text" ng-model="generator.newRoute.url" ng-change="generator.parse(generator.newRoute)"
           placeholder="write url here: [method] url (GET /url)"/>
</form>

<div class="row" ng-if="generator.urlName.length">
    <div class="col s6">

        <div class="row">
            <div class="col s6 input-field">

                <input type="text" ng-model="generator.object[generator.method]['x-swagger-router-controller']"/>
                <label>x-swagger-router-controller</label>
            </div>
            <div class="col s6 input-field">

                <input type="text" ng-model="generator.object[generator.method]['operationId']"/>
                <label>operationId</label>
            </div>
        </div>


        <h5>Parameters</h5>

        <div ng-repeat="item in generator.obj.parameters">

            <div class="row">
                <div class="col s4 input-field">
                    <input type="text" ng-model="item.name"/>
                    <label>Param name</label>
                </div>
                <div class="col s4 input-field">
                    <input type="text" ng-model="item.in"/>
                    <label>In</label>
                </div>
                <div class="col s4 input-field" ng-if="item.in == 'path'">
                    <input type="text" ng-model="item.type"/>
                </div>
            </div>

            <div class="row" ng-if="item.in == 'body'">
                <div class="col s8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in generator.params">
                            <td>{{p.name}}</td>
                            <td>{{p.type}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p>

                <form ng-submit="generator.addParam(generator.param)">
                    <input type="text" class="form-control" ng-model="generator.param"
                           placeholder="add new param [ name string ], [age integer]"/>
                </form>
                </p>
            </div>
        </div>

    </div>
    <div class="col s6">
        <pre>"{{generator.urlName}}": {{generator.object | json}},</pre>
    </div>
</div>

